<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>8cd5f0cb40db041b04c283b470455185</string>
		<key>description</key>
		<string>就是酱，萌萌哒！！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mnmb</string>
		<key>description</key>
		<string>萌你ＭＢ ！嗨起来！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ccd1beab28fafa16d025038739f5cd17</string>
		<key>description</key>
		<string>我只想做一个静静的美少女</string>
	</dict>
	<dict>
		<key>name</key>
		<string>0230663293fb9d39f83fce05cbbc715c</string>
		<key>description</key>
		<string>生气啦？好啦，逗你的啦！走，带你吃蛋糕！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>b5afd6d2a358daf66e10ae1d84464f63</string>
		<key>description</key>
		<string>神马？？？你说我做的不对？？？不改！说不改就不改！！！</string>
	</dict>
</array>
</plist>
